### Selectionner les donner dans un datafram

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0

In [4]:
df.head(10)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
5,6,03/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,$5.82,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
9,10,03/23/2021,Guglielma,Gookes,ggookes9@amazon.co.uk,Male,169.100.6.0,France,$9.05,NaN

In [5]:
df.shape

(1000, 10)

In [6]:
df.tail()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [7]:
df.tail(10)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
990,991,03/19/2021,Shep,Thorburn,sthorburnri@prnewswire.com,Male,108.123.252.15,France,$7.02,20.0
991,992,03/07/2021,Elihu,Crush,ecrushrj@berkeley.edu,Male,174.38.173.53,Morocco,$5.05,20.0
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,$4.31,NaN
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,$5.68,20.0
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

### Affichier les élément de la colonne des email

In [8]:
df["email"]

0            malders0@shop-pro.jp
1              hharridge1@gnu.org
2           ekilminster2@etsy.com
3                gbrantl3@umn.edu
4             kbeasant4@jigsy.com
                  ...
995          derrigorn@elpais.com
996         arastallro@toplist.cz
997    bstickelsrp@cloudflare.com
998        ptesoerq@rakuten.co.jp
999         rpringuerrr@house.gov
Name: email, Length: 1000, dtype: object

In [9]:
df["first_name"]

0       Marylin
1         Hinda
2           Erl
3         Grata
4         Kanya
         ...
995        Duff
996         Ame
997       Betty
998     Paquito
999    Rochelle
Name: first_name, Length: 1000, dtype: object

In [10]:
df["first_name"].tail()

995        Duff
996         Ame
997       Betty
998     Paquito
999    Rochelle
Name: first_name, dtype: object

In [11]:
df["first_name"].tail(10)

990        Shep
991       Elihu
992     Maurene
993       Ossie
994    Carolyne
995        Duff
996         Ame
997       Betty
998     Paquito
999    Rochelle
Name: first_name, dtype: object

In [12]:
df["first_name"].head()

0    Marylin
1      Hinda
2        Erl
3      Grata
4      Kanya
Name: first_name, dtype: object

In [13]:
df["first_name"].head(10)

0      Marylin
1        Hinda
2          Erl
3        Grata
4        Kanya
5        Titos
6          Ava
7         Codi
8       Waylon
9    Guglielma
Name: first_name, dtype: object

In [14]:
df["last_name"]

0          Alders
1        Harridge
2      Kilminster
3          Brantl
4         Beasant
          ...
995        Errigo
996       Rastall
997      Stickels
998         Tesoe
999      Pringuer
Name: last_name, Length: 1000, dtype: object

In [15]:
df.email.head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [16]:
df.gender

0        Male
1      Female
2        Male
3      Female
4        Male
        ...
995    Female
996    Female
997      Male
998      Male
999       NaN
Name: gender, Length: 1000, dtype: object

In [17]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [18]:
df.date

0      03/28/2021
1      03/19/2021
2      03/17/2021
3      03/19/2021
4      03/24/2021
          ...
995    03/24/2021
996    03/17/2021
997    03/13/2021
998    03/17/2021
999    03/23/2021
Name: date, Length: 1000, dtype: object

In [19]:
df.date.tail(20)

980    03/21/2021
981    03/20/2021
982    03/07/2021
983    03/03/2021
984    03/17/2021
985    03/29/2021
986    03/05/2021
987    03/13/2021
988    03/07/2021
989    03/16/2021
990    03/19/2021
991    03/07/2021
992    03/04/2021
993    03/22/2021
994    03/17/2021
995    03/24/2021
996    03/17/2021
997    03/13/2021
998    03/17/2021
999    03/23/2021
Name: date, dtype: object

In [20]:
df.ip_address.tail(20)

980     24.235.87.125
981    118.163.178.56
982    26.182.250.137
983    37.231.252.243
984    20.188.127.195
985      9.59.123.181
986     30.61.204.231
987    14.129.223.239
988    148.191.87.121
989    243.214.103.52
990    108.123.252.15
991     174.38.173.53
992    108.73.141.204
993    230.187.67.246
994       7.29.168.78
995    193.84.247.144
996    188.219.12.109
997      199.80.60.87
998       0.183.63.11
999    170.193.249.83
Name: ip_address, dtype: object

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
type(df.email)

pandas.core.series.Series

In [23]:
df[10:20]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0

In [24]:
df.loc[10:13]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0

In [25]:
df_email=df.set_index("email")

In [26]:
df_email

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
gbrantl3@umn.edu,4,03/19/2021,Grata,Brantl,Female,5.140.237.101,United States,$3.70,20.0
kbeasant4@jigsy.com,5,03/24/2021,Kanya,Beasant,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
arastallro@toplist.cz,997,03/17/2021,Ame,Rastall,Female,188.219.12.109,NaN,$4.59,20.0
bstickelsrp@cloudflare.com,998,03/13/2021,Betty,Stickels,Male,199.80.60.87,United States,$7.54,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN
rpringuerrr@house.gov,1000,03/23/2021,Rochelle,Pringuer,NaN,170.193.249.83,Canada,$8.01,20.0

In [27]:
df_email.tail()

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
arastallro@toplist.cz,997,03/17/2021,Ame,Rastall,Female,188.219.12.109,NaN,$4.59,20.0
bstickelsrp@cloudflare.com,998,03/13/2021,Betty,Stickels,Male,199.80.60.87,United States,$7.54,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN
rpringuerrr@house.gov,1000,03/23/2021,Rochelle,Pringuer,NaN,170.193.249.83,Canada,$8.01,20.0

In [28]:
df_email.head()

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
gbrantl3@umn.edu,4,03/19/2021,Grata,Brantl,Female,5.140.237.101,United States,$3.70,20.0
kbeasant4@jigsy.com,5,03/24/2021,Kanya,Beasant,Male,106.252.162.233,Morocco,$9.24,20.0

In [29]:
df_email.tail(20)

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
chenzer8@toplist.cz,981,03/21/2021,Cari,Henze,Male,24.235.87.125,France,$7.80,20.0
mscadr9@addthis.com,982,03/20/2021,Marty,Scad,Female,118.163.178.56,United States,$6.46,NaN
ayesininra@parallels.com,983,03/07/2021,Aaren,Yesinin,Female,26.182.250.137,United States,$8.41,20.0
rmcgralerb@wix.com,984,03/03/2021,Rhianon,McGrale,Male,37.231.252.243,Morocco,$4.46,20.0
kabbadorc@printfriendly.com,985,03/17/2021,Koressa,Abbado,NaN,20.188.127.195,United States,$4.33,NaN
ylongworthyrd@163.com,986,03/29/2021,Yvonne,Longworthy,Female,9.59.123.181,France,$9.16,NaN
despinalre@accuweather.com,987,03/05/2021,Dukey,Espinal,Male,30.61.204.231,United States,$4.07,20.0
pbarrrf@google.de,988,03/13/2021,Patrice,Barr,Male,14.129.223.239,United States,$6.20,20.0
ybotlerrg@miitbeian.gov.cn,989,03/07/2021,Yves,Botler,Female,148.191.87.121,United States,$6.10,20.0
hvanarsdalenrh@prlog.org,990,03/16/2021,Horatius,Van Arsdalen,NaN,243.214.103.52,France,$8.69,20.0
sthorburnri@prnewswire.com,991,03/19/2021,Shep,Thorburn,Male,108.123.252.15,France,$7.02,20.0
ecrushrj@berkeley.edu,992,03/07/2021,Elihu,Crush,Male,174.38.173.53,Morocco,$5.05,20.0
mguilloneaurk@about.me,993,03/04/2021,Maurene,Guilloneau,Male,108.73.141.204,France,$9.19,NaN
osnellerl@nhs.uk,994,03/22/2021,Ossie,Snelle,Male,230.187.67.246,France,$4.31,NaN
cbruntjenrm@reference.com,995,03/17/2021,Carolyne,Bruntjen,Female,7.29.168.78,France,$5.68,20.0
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
arastallro@toplist.cz,997,03/17/2021,Ame,Rastall,Female,188.219.12.109,NaN,$4.59,20.0
bstickelsrp@cloudflare.com,998,03/13/2021,Betty,Stickels,Male,199.80.60.87,United States,$7.54,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN
rpringuerrr@house.gov,1000,03/23/2021,Rochelle,Pringuer,NaN,170.193.249.83,Canada,$8.01,20.0

In [30]:
df_email.tail(100)

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
kamphlettp0@sfgate.com,901,03/09/2021,Karla,Amphlett,Male,178.229.85.56,United States,$8.45,20.0
dfilippyevp1@economist.com,902,03/26/2021,Dalenna,Filippyev,Male,119.183.18.59,France,$7.09,NaN
qsterricksp2@cmu.edu,903,03/23/2021,Quintina,Sterricks,Male,255.19.122.233,Canada,$3.56,20.0
dkimep3@amazonaws.com,904,03/02/2021,Doralynne,Kime,Female,72.171.1.100,Morocco,$8.85,20.0
cconaghyp4@nydailynews.com,905,03/15/2021,Christabel,Conaghy,Female,171.42.96.61,United States,$7.19,20.0
...,...,...,...,...,...,...,...,...,...
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
arastallro@toplist.cz,997,03/17/2021,Ame,Rastall,Female,188.219.12.109,NaN,$4.59,20.0
bstickelsrp@cloudflare.com,998,03/13/2021,Betty,Stickels,Male,199.80.60.87,United States,$7.54,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN
rpringuerrr@house.gov,1000,03/23/2021,Rochelle,Pringuer,NaN,170.193.249.83,Canada,$8.01,20.0

In [31]:
df.loc[10:20]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0
20,21,03/12/2021,Jeffrey,Stanman,jstanmank@latimes.com,Female,3.110.64.192,France,$5.55,20.0

In [32]:
df_email.loc["derrigorn@elpais.com"]

id                       996
date              03/24/2021
first_name              Duff
last_name             Errigo
gender                Female
ip_address    193.84.247.144
country               France
price_paid             $3.63
tax                      NaN
Name: derrigorn@elpais.com, dtype: object

In [33]:
type(df_email)

pandas.core.frame.DataFrame

In [34]:
df_email.values

array([[1, '03/28/2021', 'Marylin', ..., 'Canada', '$5.36', nan],
       [2, '03/19/2021', 'Hinda', ..., 'Canada', '$8.32', nan],
       [3, '03/17/2021', 'Erl', ..., 'United States', '$3.73', 20.0],
       ...,
       [998, '03/13/2021', 'Betty', ..., 'United States', '$7.54', 20.0],
       [999, '03/17/2021', 'Paquito', ..., 'United States', '$5.81', nan],
       [1000, '03/23/2021', 'Rochelle', ..., 'Canada', '$8.01', 20.0]],
      dtype=object)

In [35]:
df.loc[10:20]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0
20,21,03/12/2021,Jeffrey,Stanman,jstanmank@latimes.com,Female,3.110.64.192,France,$5.55,20.0

In [38]:
df_email.loc[["derrigorn@elpais.com", "bwymanb@lulu.com", "eallawayg@ebay.co.uk"]]

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
bwymanb@lulu.com,12,03/16/2021,Bailie,Wyman,Male,222.60.138.222,United States,$3.15,20.0
eallawayg@ebay.co.uk,17,03/27/2021,Eve,Allaway,Female,184.107.59.156,United States,$6.44,20.0

In [40]:
prix=df.price_paid

In [41]:
prix.loc[10:20]

10    $5.71
11    $3.15
12    $5.30
13    $5.97
14    $4.53
15    $4.10
16    $6.44
17    $3.16
18    $4.90
19    $5.82
20    $5.55
Name: price_paid, dtype: object

In [42]:
prix.tail()

995    $3.63
996    $4.59
997    $7.54
998    $5.81
999    $8.01
Name: price_paid, dtype: object

In [43]:
prix.tail(20)

980    $7.80
981    $6.46
982    $8.41
983    $4.46
984    $4.33
985    $9.16
986    $4.07
987    $6.20
988    $6.10
989    $8.69
990    $7.02
991    $5.05
992    $9.19
993    $4.31
994    $5.68
995    $3.63
996    $4.59
997    $7.54
998    $5.81
999    $8.01
Name: price_paid, dtype: object

In [44]:
prix.head()

0    $5.36
1    $8.32
2    $3.73
3    $3.70
4    $9.24
Name: price_paid, dtype: object

In [45]:
prix.head(10)

0    $5.36
1    $8.32
2    $3.73
3    $3.70
4    $9.24
5    $5.82
6    $6.29
7    $3.01
8    $3.70
9    $9.05
Name: price_paid, dtype: object

In [46]:
prix.shape

(1000,)

In [47]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0