In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data.csv")

In [3]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

## Affichier tous les sexes d'individus

In [4]:
df["gender"]

0        Male
1      Female
2        Male
3      Female
4        Male
        ...
995    Female
996    Female
997      Male
998      Male
999       NaN
Name: gender, Length: 1000, dtype: object

## Afichier les éléments d'index de 10 à 20 inclus

In [6]:
df.loc[10:20]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0
20,21,03/12/2021,Jeffrey,Stanman,jstanmank@latimes.com,Female,3.110.64.192,France,$5.55,20.0

## Affichier tous les éléments dont le sexe est Male

In [12]:
gender_filter=df[df["gender"]=="Male"]

In [23]:
gender_filter

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
...,...,...,...,...,...,...,...,...,...,...
991,992,03/07/2021,Elihu,Crush,ecrushrj@berkeley.edu,Male,174.38.173.53,Morocco,$5.05,20.0
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,$4.31,NaN
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN

In [17]:
country_filter = df["country"].isin(["France", "Canada"])

In [19]:
df[country_filter]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
...,...,...,...,...,...,...,...,...,...,...
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,$4.31,NaN
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,$5.68,20.0
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [25]:
df[country_filter].head()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0

In [26]:
df[country_filter].tail()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,$4.31,NaN
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,$5.68,20.0
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [27]:
df[country_filter].tail(20)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
961,962,03/07/2021,Trudy,Algy,talgyqp@topsy.com,Female,22.70.82.130,France,$9.16,NaN
962,963,03/02/2021,Elspeth,Jaffrey,ejaffreyqq@huffingtonpost.com,Male,43.127.127.157,France,$7.97,NaN
963,964,03/05/2021,Sarine,Gilkes,sgilkesqr@dell.com,Female,120.89.133.193,France,$5.92,20.0
964,965,03/16/2021,Marilyn,McKiernan,mmckiernanqs@mapy.cz,Male,50.243.237.247,Canada,$4.23,20.0
968,969,03/29/2021,Adelice,Tillerton,atillertonqw@ft.com,Female,30.153.32.118,France,$9.55,NaN
969,970,03/15/2021,Dody,Jakubovics,djakubovicsqx@ifeng.com,Female,0.217.109.79,Canada,$4.36,NaN
971,972,03/09/2021,Devan,Kamena,dkamenaqz@umn.edu,Female,7.228.190.130,Canada,$7.25,20.0
975,976,03/02/2021,Leroi,Latus,llatusr3@istockphoto.com,Female,252.37.157.82,France,$5.19,20.0
976,977,03/03/2021,Sax,Prichet,sprichetr4@psu.edu,Female,180.67.195.59,France,$3.73,NaN
978,979,03/18/2021,Bartolemo,Veelers,bveelersr6@smh.com.au,Male,149.150.196.237,Canada,$7.76,20.0
979,980,03/21/2021,Miquela,Geator,mgeatorr7@dot.gov,Male,26.111.31.113,France,$7.17,20.0
980,981,03/21/2021,Cari,Henze,chenzer8@toplist.cz,Male,24.235.87.125,France,$7.80,20.0
985,986,03/29/2021,Yvonne,Longworthy,ylongworthyrd@163.com,Female,9.59.123.181,France,$9.16,NaN
989,990,03/16/2021,Horatius,Van Arsdalen,hvanarsdalenrh@prlog.org,NaN,243.214.103.52,France,$8.69,20.0
990,991,03/19/2021,Shep,Thorburn,sthorburnri@prnewswire.com,Male,108.123.252.15,France,$7.02,20.0
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,$4.31,NaN
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,$5.68,20.0
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [28]:
df[country_filter].shape

(569, 10)

In [29]:
coln = df[country_filter]

In [34]:
coln = [coln["gender"] == "Male"]

In [37]:
coln.tail()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,$4.31,NaN
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,$5.68,20.0
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [38]:
coln.head()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0

In [39]:
coln.shape

(569, 10)

In [40]:
coln.tail(20)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
961,962,03/07/2021,Trudy,Algy,talgyqp@topsy.com,Female,22.70.82.130,France,$9.16,NaN
962,963,03/02/2021,Elspeth,Jaffrey,ejaffreyqq@huffingtonpost.com,Male,43.127.127.157,France,$7.97,NaN
963,964,03/05/2021,Sarine,Gilkes,sgilkesqr@dell.com,Female,120.89.133.193,France,$5.92,20.0
964,965,03/16/2021,Marilyn,McKiernan,mmckiernanqs@mapy.cz,Male,50.243.237.247,Canada,$4.23,20.0
968,969,03/29/2021,Adelice,Tillerton,atillertonqw@ft.com,Female,30.153.32.118,France,$9.55,NaN
969,970,03/15/2021,Dody,Jakubovics,djakubovicsqx@ifeng.com,Female,0.217.109.79,Canada,$4.36,NaN
971,972,03/09/2021,Devan,Kamena,dkamenaqz@umn.edu,Female,7.228.190.130,Canada,$7.25,20.0
975,976,03/02/2021,Leroi,Latus,llatusr3@istockphoto.com,Female,252.37.157.82,France,$5.19,20.0
976,977,03/03/2021,Sax,Prichet,sprichetr4@psu.edu,Female,180.67.195.59,France,$3.73,NaN
978,979,03/18/2021,Bartolemo,Veelers,bveelersr6@smh.com.au,Male,149.150.196.237,Canada,$7.76,20.0
979,980,03/21/2021,Miquela,Geator,mgeatorr7@dot.gov,Male,26.111.31.113,France,$7.17,20.0
980,981,03/21/2021,Cari,Henze,chenzer8@toplist.cz,Male,24.235.87.125,France,$7.80,20.0
985,986,03/29/2021,Yvonne,Longworthy,ylongworthyrd@163.com,Female,9.59.123.181,France,$9.16,NaN
989,990,03/16/2021,Horatius,Van Arsdalen,hvanarsdalenrh@prlog.org,NaN,243.214.103.52,France,$8.69,20.0
990,991,03/19/2021,Shep,Thorburn,sthorburnri@prnewswire.com,Male,108.123.252.15,France,$7.02,20.0
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,$4.31,NaN
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,$5.68,20.0
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

## Faire une copie de df

In [41]:
df_test = df.copy()

### Modifier la vaiable price_paid et Enlever le symbole $ par un caractére

In [43]:
df_test.price_paid = df_test.price_paid.apply(lambda x : x.replace("$", ""))

###  Converti le prix en float

In [46]:
df_test.price_paid = df_test.price_paid.astype(float)

## Faire la comparaison et la sortie du résultat

In [48]:
df_test[df_test["price_paid"] >= 5.0]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,NaN
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0
5,6,03/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,5.82,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,6.29,NaN
...,...,...,...,...,...,...,...,...,...,...
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,9.19,NaN
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,5.68,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0